@use '../abstract/mixins';
@use '../abstract/variables' as vars;

.container {
    padding: 1.25rem 10.63rem;
    margin: 0 auto;
}

@include mixins.media-xl {
    .container {
        padding: 1.25rem 8rem;
        margin: 0 auto;
    }   

    .nav {
        .nav-menu {
            padding-left: 73vw;
        }
    }
}

@include mixins.media-lg {
    .container {
        padding: 1.25rem 6rem;
    }
    .nav {
        .nav-menu {
            padding-left: 65vw;
        }
    } 

    .post-card {  
        padding: 1.88rem 1rem;
        .card-title {
            font-size: 1.4rem;
        }
    } 
    .card-img  {
        width: 100%;
    }
    .work-section__cards {
        .card-info {
            .card-info__description {
                padding-top: 0;
                line-height: 1.5rem;
            }
        }
    }
    
}

@include mixins.media-md {
    .container {
     padding: 1.25rem 3rem;
    }

    header {
        .btn-bars   {
            display: block;
            a {
                position: absolute;
                top: 1rem;
                right: 2rem;
                font-size: 2rem;
                color: vars.$title-color;
            }

             
        }
        .btn-close  {
            a {
                position: absolute;
                top: 1rem;
                right: 2rem;
                font-size: 2.5rem;
                color: vars.$title-color;
            }
        }
     }

    .nav {
        .nav-menu {
            display: none;
            flex-direction: column;
            width: 100%;
            padding: 3.1rem 2rem 2rem 2rem;
            transform-origin: top;
            text-align: center;
            transition: 0.3s ease-in-out;  
            li {
                padding: 0.64rem 0;
                a { 
                    font-size: 1.5rem;               
                 }
            }
            
           
            
        }
    }


    .circle-img {
         width: 90%;
    }
    .main-section__info {
         .info-description {
             max-width: 350px;
         }
    }
    .post-card {
     padding: 1.25rem 0.63rem ;
         .card-title {
             font-size: 1.3rem;
         }
         .card-description {
             line-height: 1.5rem;
         }
    }
    .ml {
        margin-left: 0.4rem;
    }
     .mr {
        margin-right: 0.4rem;
     }
     .card-img  {
         width: 90%;
     }
 
     .work-section__cards {
         padding: 1.25rem 0;
         .card-info {
             > h2 {
                 font-size: 1.4rem;
             }
             padding-left: 0.63rem;
             .work-time {
                 padding: 0.63rem 0;
                 
             }
         }
    }
    .work-time__time, work-time__job {
     font-size: 1.13rem
 }      
}

@include mixins.media-sm {
   .container {
        padding: 0;
   }


   .main-section {
        flex-direction: column-reverse;
        text-align: center;

        .circle {
            img {
                right: 1.5px;
            }
        }
        .main-section__info {
            .info-title {
                padding-top: 2rem;
            }
            .info-description {
                max-width: 300px;
                margin: 0 auto;
            }
        }
    }

   .wrapper {
        margin-top: 1rem;
   }

    nav {
        p:nth-child(1)  {
            margin: 0 auto;
            padding-top: 0.93rem;
        }
        p:nth-child(2) {
            display: none;
        }
        
    }
    .cards {
        flex-direction: column;
        .post-card {
            margin: 0.64rem auto;
            max-width: 90%;
            padding: 1.25rem;
            .card-description {
                max-width: 100%;
                margin: 0;
            }
        }
    }

    .ml {
        margin-left: 0;
    }
    .mr {
     margin-right: 0;
    }

    .work-section > p {
        text-align: center;
        font-size: 1.4rem;
    }

    .work-section__cards {
        flex-direction: column;
    .card-info {
        padding: 0;
        > h2 {
            padding-top: 1rem;
        }
        .work-time__time, .work-time__job {
            font-size: 1.13rem;
        }
    }

    
    .card-img, .card-info {
        margin: 0 auto;
        width: 88%;
    }
    .card-info__row {
        width: 90%;
        left: 25px;
    }
    }
    .card-ds {
        display: none;
    }

    .footer {
        padding-top: 10rem;
    }
    
}


   



